*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

  body{
    background-color: hsl(185, 41%, 84%);
    font-family: "Space Mono";
  }

  main{
    width: 100%;
  }

  .logo{
    display: block;
    margin: auto;
  }

  form{
    background-color: white;
    width: 100%;
    border-radius: 5%;
  }

  label{
    margin: 5%;
    color: hsl(186, 14%, 43%);
    font-weight: 700;
  }

  #total-bill{
    display: block;
    width: 90%;
    margin: auto;
    background-color: hsl(189, 41%, 97%);
    background-image: url("./images/icon-dollar.svg");
    background-position: 10px;
    background-repeat: no-repeat;
    padding: 2% 2% 2% 6%;
    border: none;
    border-radius: 5px;
    outline: none;
  }

  #total-bill:focus{
    border: 3px solid hsl(183, 100%, 15%);
  }

  #headcount{
    display: block;
    width: 90%;
    margin: auto;
    background-color: hsl(189, 41%, 97%);
    background-image: url("./images/icon-person.svg");
    background-position: 10px;
    background-repeat: no-repeat;
    padding: 2% 2% 2% 6%;
    border: none;
    border-radius: 5px;
    outline: none;
  }

  #headcount:focus{
    border: 3px solid hsl(183, 100%, 15%);
  }