*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

  body{
    background-color: hsl(185, 41%, 84%);
    font-family: "Space Mono";
    font-weight: 700;
    color: hsl(186, 14%, 43%)
  }

  body *{
    margin: 0.25rem 0;
  }

  main{
    width: 100%;
  }

  .logo{
    display: block;
    margin: auto;
  }

  form{
    background-color: white;
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
  }

  form input[type="text"]{
    font-weight: 900;
    font-size: 1.5rem;
    text-align: right;
  }

  #initial-bill, #headcount{
    display: block;
    width: 100%;
    margin: auto;
    color: hsl(183, 100%, 15%);
    background-color: hsl(189, 41%, 97%);
    background-position: 10px;
    background-repeat: no-repeat;
    padding: 1% 3% 1% 6%;
    border: none;
    border-radius: 5px;
    outline: none;
  }

  #initial-bill{
    background-image: url("./images/icon-dollar.svg");
  }
  #headcount{
    background-image: url("./images/icon-person.svg");
  }

  #initial-bill:focus, #headcount:focus{
    border: 3px solid hsl(183, 100%, 15%);
  }

  .result{
    background-color: hsl(183, 100%, 15%);
    color:hsl(189, 41%, 97%);
    padding: 1rem;
    border-radius: 1rem;
  }

  .output{
    display: flex;
    justify-content: space-between;
  }

  .output p, .output input[type="text"]{
    width: 50%;
  }

  .output p .sig{
    display: inline-block;
    width: 100%;
    margin: 0;
  }

  .output p .sig{
    font-size: 1rem;
    color: hsl(189, 41%, 97%);
  }

  .output p .no-sig{
    font-size: 0.7rem;
    color: hsl(185, 41%, 84%);
  }

  .output input[type="text"]{
    color: hsl(172, 67%, 45%);
    background-color: hsl(183, 100%, 15%);
    border: none;
  }

  .reset{
    display: block;
    width: 90%;
    margin: 0 5%;
    padding: 2%;
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    border: none;
    border-radius: 5px;
    font-weight: bold;
  }